@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../src/assets/images/bg.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

html,
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bg-black-hover {
    background: linear-gradient(180deg, #111111, #555555);
}

.bg-white-hover {
    background: linear-gradient(180deg, #e0e0e0, #ffffff);
}

.bg-white {
    background: linear-gradient(180deg, #ffffff, #e0e0e0);
}

.hover\:bg-white-hover:hover,
.bg-white-hover {
    background: linear-gradient(180deg, #e0e0e0, #ffffff);
}

.hover\:bg-black-hover:hover,
.bg-black-hover {
    background: linear-gradient(180deg, #111111, #555555);
}