@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../src/assets/images/bg.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

html,
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}