@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../src/assets/images/bg.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

html,
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* src/components/Piano.css */

.piano-container {
    background-color: #f0f0f0;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.piano {
    display: flex;
    justify-content: center;
}

.key {
    width: 40px;
    height: 150px;
    margin: 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    cursor: pointer;
}

.key.white {
    background-color: #fff;
}

.key.black {
    width: 30px;
    height: 100px;
    background-color: #000;
    color: #fff;
    position: relative;
    z-index: 1;
    margin-left: -15px;
    margin-right: -15px;
}

.key:hover {
    background-color: #ddd;
}
